body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.86;
    color: #333333;
    text-transform: uppercase;

    background-color: #ffffff;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

fieldset {
    border:0 none;
}


.search-hotels {
    font: inherit;

    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 21px;
    text-align: center;    

    background-color: #766357;
    border: none;

    padding: 20px 120px;
    margin-left: 490px;
}

.search-hotels:hover {
    background-color: #604e43;
}

.search-hotels:focus {
    background-color: #503e33;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

.main-navigation {
    height: 93px;
    font-weight: bold;
    line-height: 1.86;
    text-align: center;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
}

.site-navigation li {
    width: 239px;
}

.site-navigation a,
.social-networks a,
.sort a {
    color: #000000;
}

.site-navigation a:hover,
.social-networks a:hover {
    color: #81b3d2;
}

.site-navigation a:focus,
.social-networks a:focus { 
    color: #bdbbbc;
}

.welcome-block {
    background: url("../img/background-photo.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 60px;
}

.polygon {
    background: url("../img/polygon.png");
    width: auto;
    height: 58px;
    background-size: cover;
    background-position: bottom;
}

.sedona-city {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    text-align: center;
    color: #000000;
}

.reasons {
    line-height: 1.86;
    text-align: center;
}

.interest {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    color: #000000;
    text-align: center;
}

.search-item input {
    font: inherit;
    font-weight: bold;
}

.search-item {
    font-weight: bold;
}

.request {
    text-align: center;
}

.website {
    color: #000000;
}

.visitsedona {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.search {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    background-color: #81b3d2;
    width: 458px;
    display: block;
    padding: 9px 5px;
}

.search:hover {
    background-color: #669ec0;
    width: 458px;
}

.search:focus {
    background-color: #5496bd;;
    width: 458px;
}

.search:focus {
    opacity: 0.3;
}

.catalog-item-title {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.catalog-item-title:hover {
    color: #81b3d2;
}

.catalog-item-title:focus {
    opacity: 0.3;
    color: rgba(0, 0, 0, 0.3);
}

.more {
    width: 110px;
    background-color: #81b3d2;

    font-weight: bold;
    color: #ffffff;
    display: block;
    text-align: center;
}

.more:hover {
    width: 110px;
    background-color: #669ec0;
}

.more:focus {
    width: 110px;
    background-color: #5496bd;

    opacity: 0.3;
}

.book {
    width: 142px;
    background-color: #766357;

    font-weight: bold;
    color: #ffffff;
    display: block;
    text-align: center;
}

.book:hover{
    width: 142px;
    background-color: #604e43;
}

.book:focus{
    width: 142px;
    background-color: #503e33;

    opacity: 0.3;
}

.site-navigation {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.better-sedona {
    padding: 60px;
}

.true-city {
    background: url("../img/feature-picture@3x.jpg") no-repeat;
    background-position: right;
    background-size: 800px 256px;
    color: #ffffff;
    height: 256px;
    padding: 0px 800px 0px 0px;
}

.true-city-block {
    background-color: #81b3d2;
    text-align: center;
    padding: 26px 0px 0px 30px;
    height: 230px;
}

.city {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px;
}

.city-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accommodation,
.food,
.souvenirs {
    order: -1;
}

.bridge {
    background: url("../img/layer-5@3x.jpg") no-repeat;
    background-position: left;
    background-size: 800px 256px;
    color: #ffffff;
    height: 256px;
    padding: 0px 0px 0px 800px;
    margin: 0px;
}

.bridge-block {
    background-color: #81b3d2;
    text-align: center;
    padding: 26px 0px 32px 30px;
    height: inherit;
    margin: 0px;
}

.other-advantages {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: #eeeeee;
    height: 256px;
}

.search-form {
    text-align: center;
}

.main-footer {
    opacity: 0.9;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.hotels-items {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
}

.social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

.twitter {
    background-color: #81b3d2;
    align-items: center;
    margin-right: 10px;
}
.facebook {
    background-color: #81b3d2;
    align-items: center;
    margin-right: 10px;
}
.youtube {
    background-color: #81b3d2;
    align-items: center;
}

.infrastructure-container {
    background: url("../img/background-photo.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px;
    color: #ffffff;    
}

.filters-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.cost {
    display: flex;
    flex-direction: column;
    padding: 7px;
}

.filter-option {
    padding: 14px;
}

.search-results {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    border-bottom: solid gray 1px;
}

.search-results p {
    order: -1;
    font-size: 21px;
    font-weight: bold;
}

.search-results h2 {
    font-size: 12px;
    font-weight: normal;
    margin-top: 21px;
}

.sort {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.catalog-item {
    margin-left: 100px;
    border-bottom: 1px solid gray;
}

.hotel-block {
    display: flex;
}

.catalog-item-image {
    margin-right: 30px;
}

.hotel-description {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.hotel-details {
    display: flex;
}

.more-book {
    display: flex;
}

.more-book a {
    margin: 5px;
}

.hotel-details p {
    margin-right: 5px;
}