body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.86;
    color: #333333;
    text-transform: uppercase;

    background-color: #ffffff;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.search-hotels {
    font: inherit;

    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 21px;
    text-align: center;

    background-color: #766357;
    border: none;

    width: 568px;
}

.search-hotels:hover {
    background-color: #604e43;
}

.search-hotels:focus {
    background-color: #503e33;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    …
  }

.main-navigation {
    width: 93px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
}

.site-navigation li {
    width: 239px;
}

.site-navigation a,
.social-networks a,
.sort a {
    color: #000000;
}

.site-navigation a:hover,
.social-networks a:hover {
    color: #81b3d2;
}

.site-navigation a:focus,
.social-networks a:focus { 
    color: #bdbbbc;
}

.welcome-block {
    background: url("../img/background-photo.jpg");
    width: auto;
    background-size: cover;
    text-align: center;
}

.polygon {
    background: url("../img/polygon.png");
    width: auto;
    height: 58px;
    background-size: cover;
    background-position: bottom;
}

.sedona-city {
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.reasons {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: center;
}

.interest {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    color: #000000;
    text-align: center;
}

.search-item input {
    font: inherit;
    font-weight: bold;
}

.search-item {
    font-weight: bold;
}

.request {
    text-align: center;
}

.website {
    color: #000000;
}

.visitsedona {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.search {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    background-color: #81b3d2;
    width: 458px;
    display: block;
}

.search:hover {
    background-color: #669ec0;
    width: 458px;
}

.search:focus {
    background-color: #5496bd;;
    width: 458px;
}

.search:focus {
    opacity: 0.3;
}

.catalog-item-title {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.catalog-item-title:hover {
    color: #81b3d2;
}

.catalog-item-title:focus {
    opacity: 0.3;
    color: rgba(0, 0, 0, 0.3);
}

.more {
    width: 110px;
    background-color: #81b3d2;

    font-weight: bold;
    color: #ffffff;
    display: block;
    text-align: center;
}

.more:hover {
    width: 110px;
    background-color: #669ec0;
}

.more:focus {
    width: 110px;
    background-color: #5496bd;

    opacity: 0.3;
}

.book {
    width: 142px;
    background-color: #766357;

    font-weight: bold;
    color: #ffffff;
    display: block;
    text-align: center;
}

.book:hover{
    width: 142px;
    background-color: #604e43;
}

.book:focus{
    width: 142px;
    background-color: #503e33;

    opacity: 0.3;
}

.site-navigation {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.better-sedona {
    padding: 60px;
}

.true-city {
    background-color: #81b3d2;
    color: #ffffff;
    text-align: center;
    padding: 46px 60px 64px 60px;
    width: 100%;
}

.city {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.bridge {
    background-color: #81b3d2;
    color: #ffffff;
    text-align: center;
    padding: 46px 60px 64px 60px;
}

.other-advantages {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: #eeeeee;
    height: 256px;
}

.search-form {
    text-align: center;
}

.main-footer {
    background-color: white;
    opacity: 0.9;
}

.hotels-items {
    display: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}